.post {
  width: 850px;
  margin: 50px auto;

  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 50px;  

}
  
  .blog-card {
    width: 400px;
    background-color: rgb(57, 173, 250);
    margin-bottom: 20px;
    /* height: 300px; */
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    position: relative;
    /* color: #fff; */
  
  
  }
  

  .blog-title {
    font-size: 17px;
  }
  
  .blog-text {
    margin: 30px 0;
  
  }
  
  .blog-footer {
    color: #444;
  }
  
  .comment {
    background-color: red;
    width: 400px;
  }